.table {
  font-family: 'Courier New', Courier, monospace;
  margin: 1em;
  background-color: lighten($color: #000000, $amount: 90);
  padding: 0.5em;
  border: solid #000000 1px;

  th,
  td {
    padding: 0.2em 1em;
  }

  tr {
    border-bottom: solid 1px lighten($color: #000000, $amount: 30);
  }
}
