$takeColor: #07cc11;
$transferColor: #fd0707;
$neutralColor: #000;
$black: #000000;
$yellow: #fcfc02;

$primaryFont: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$monoFont: 'Courier New', Courier, monospace;
