html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  font-family: 'Courier New', Courier, monospace;
  margin: 1em;
  background-color: lighten($color: #000000, $amount: 90);
  padding: 0.5em;
  border: solid #000000 1px;

  th,
  td {
    padding: 0.2em 1em;
  }

  th {
    text-align: left;
  }

  tr {
    border-bottom: solid 1px lighten($color: #000000, $amount: 30);
  }
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
